[submodule "libs/ui"]
	path = libs/ui
	url = git@github.com:pelaajahacks/raylibUI.git
[submodule "libs/engine"]
	path = libs/engine
	url = git@github.com:pelaajahacks/raylibEngine.git
[submodule "libs/random"]
	path = libs/random
	url = git@github.com:pelaajahacks/simplecpprandom.git
